<div class="row">
  <% Saint.ordered_controllers.select { |n| n.saint.dashboard }.each do |controller|
      if controller.saint.model && orm = Saint::ORM.new(controller.saint.model) -%>
          <div class="span" style="min-width: 200px;">

            <div class="page-header">

              <i class="icon-list"></i>
              <strong>
                <a href="<%= controller.http.route %>">
                  <%= controller.saint.menu.label %>
                </a>
              </strong>
              <%= orm.count[0] %>
              <div class="pull-right">
                <a class="" href="<%= controller.http.route :edit %>">
                  <i class="icon-plus-sign"></i></a>
              </div>
            </div>

            <div class="well">
              <div>
                <span class="label label-success">
                    Latest Items
                </span>
                <ul>
                  <% (orm.filter(orm.order(controller.saint.pkey => :desc).merge(orm.limit(5)))[0]||[]).each do |item| %>
                      <li>
                        <a href="<%= controller.http.route :edit, item.send(controller.saint.pkey) %>">
                          <%= controller.saint.h item, length: 50 %>
                        </a>
                      </li>
                  <% end -%>
                </ul>
              </div>

              <% if (belongs_to = controller.saint.belongs_to.select { |l, a| !a.is_tree? }).size > 0 -%>
                  <div>
                <span class="label label-success">
                Belongs To
                </span>
                    <ul>
                      <% belongs_to.each do |assoc|
                          label, assoc = assoc -%>
                          <li>
                            <% if assoc.remote_controller -%>
                                <a href="<%= assoc.remote_controller.http.route -%>">
                                  <%== label %>
                                </a>
                            <% else -%>
                                <%== label %>
                            <% end -%>
                          </li>
                      <% end -%>
                    </ul>
                  </div>
              <% end -%>

              <% if (has_n = controller.saint.has_n.select { |l, a| !a.is_tree? }).size > 0 -%>
                  <div>
                <span class="label label-success">
                Has N
                </span>
                    <ul>
                      <% has_n.each do |assoc|
                          label, assoc = assoc -%>
                          <li>
                            <% if assoc.remote_controller -%>
                                <a href="<%= assoc.remote_controller.http.route -%>">
                                  <%== label %>
                                </a>
                            <% else -%>
                                <%== label %>
                            <% end -%>
                          </li>
                      <% end -%>
                    </ul>
                  </div>
              <% end -%>

              <% if controller.saint.is_tree? -%>
                  <div>
                    <span class="label label-success">
                        Is Tree
                    </span>
                  </div>
              <% end -%>

            </div>

          </div>
      <% elsif (file_manager = controller.saint.file_manager) -%>

          <div class="span">
            <div class="page-header">
              <i class="icon-folder-close"></i>
              <strong>
                <a href="<%= controller.http.route %>">
                  <%= controller.saint.menu.label %>
                </a>
              </strong>
            </div>

            <% file_manager.roots.each do |root| %>
                <div class="page-header">
                  <i class="icon-folder-open"></i>
                  <a href="<%= root.http.route %>">
                    <%= root.setup.label %>
                  </a>
                </div>
            <% end -%>

          </div>

      <% end -%>
  <% end -%>
</div>
